h1{
    margin-left: 200px;
}

.btn,p{
    display: inline-block;
    margin-top: 20px;
    
}

.btn{
    margin-left: 450px;
}

.outside{
    margin-left: 50px;
}

input{
    margin-top: 20px;
    width : 630px;
}